.ingredientsBear {
  //background: #89cbea;
  grid-area: ingredientsBear;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 1.25em;

}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "ingredientsBear";
}

h3 {
  grid-area: titleBear;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

