.ingredientsBear {
  //background: #89cbea;
  grid-area: ingredientsBear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25em;

}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "ingredientsBear";
}

.list-group {
  padding-top: 1.3em;
}

.list-group-item {
  padding: 3px 10px
}

h3 {
  grid-area: titleBear;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.5em;
}

