<div [@routerTransition]>

  <app-searchbar></app-searchbar>
  <!--<div class="search-results"-->
       <!--infiniteScroll-->
       <!--[infiniteScrollDistance]="2"-->
       <!--[infiniteScrollThrottle]="300"-->
       <!--(scrolled)="onScroll()">-->

    <section>
      <div class="container">
        <div class="row justify-content-center">

          <div *ngFor="let recipe of recipes | async">
            <div class="clearfix" ng-if="$index % 3 == 0"></div>
            <div class="col-4 col-md-4 text-center">
              <div class="justify-content-center pb-4">
                <a [routerLink]="['/recipe', recipe.id]">
                  <img [src]='resolveThumbPhotoUrl(recipe) | async ' height="225" width="300" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!--</div>-->
</div>
