.photoBear {
  //background: #89cbea;
  grid-area: photoBear;
}

.shareBear {
  //background: #8cea9d;
  grid-area: shareBear;
  justify-self: center;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "photoBear" "shareBear";
  grid-gap: 1em;
}
