.photoRecipeBear {
  background: #89cbea;
  grid-area: photoRecipeBear;
}

.overviewBear {
  background: #6f6aea;
  grid-area: overviewBear;
}

.ingredientsBear {
  background: #36ea7d;
  grid-area: ingredientsBear;
}

.protocolBear {
  background: #00eaaf;
  grid-area: protocolBear;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "photoRecipeBear"
    "overviewBear"
    "ingredientsBear"
    "protocolBear";
}

@media all and (min-width: 640px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photoRecipeBear overviewBear"
      "ingredientsBear protocolBear";
  }
}
