<div class="grid">
  <div class="titleBear border-bottom">
    <div class="flexBox">
      <h1>{{(recipe | async)?.title}}</h1>
    </div>
  </div>
  <div class="descriptionBear border-bottom">
    <div class="flexBox">
      <h5 class="font-italic">{{(recipe | async)?.description}}</h5>
    </div>
  </div>
  <div class="categoryBear border-bottom">
    <div class="rowBear">
      <div class="item">
        <div class="item-img">
          <img alt="image" src="./assets/icons/007-team.svg" height="40" width="40">
        </div>
        <div class="item-heading">{{ (recipe | async)?.stats?.serves }}</div>
      </div>
      <div class="item">
        <div class="item-img">
          <img alt="image" src="./assets/icons/008-clock-of-circular-shape-at-two-o-clock.svg" height="40" width="40">
        </div>
        <div class="item-heading">{{(recipe | async)?.stats?.time}}</div>
      </div>
      <div class="item">
        <div class="item-img">
          <img alt="image" src="./assets/icons/015-restaurant.svg" height="40" width="40">
        </div>
        <div class="item-heading">{{(recipe | async)?.stats?.difficulty}}</div>
      </div>
      <div class="item" *ngIf="recipe | async as recipeSnap">
        <div class="item-img">
          <img alt="image" class="img-fluid" src="./assets/icons/{{recipeSnap.stats.category.icon}}" height="40"
               width="40">
        </div>
        <div class="item-heading">{{recipeSnap.stats.category.name}}</div>
      </div>
    </div>
  </div>
  <div class="labelBear border-bottom">
    <div *ngIf="recipe | async as recipeSnap">
      <i class="fa fa-tags fa-2x fa-fw" aria-hidden="true" style="color: #114261;"></i>&nbsp;{{getInlineTagNames(recipeSnap.tags)}}
    </div>
  </div>

</div>
