.fa-rotate-45 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand');
  margin-left: -50%;
  margin-top: -50%;
}

.titleBear {
  grid-area: titleBear;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.5em;
}

.descriptionBear {
  grid-area: descriptionBear;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
  color: #414d53;
  padding-bottom: 1em;
}

.categoryBear {
  //background: #56deea;
  grid-area: categoryBear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  padding-bottom: 1em;
}

.labelBear {
  //background: #3078ea;
  grid-area: labelBear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  padding-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "titleBear" "descriptionBear" "categoryBear" "labelBear";
  grid-gap: 1.5em;
}

/* Horizontal flex: rows
   =====================
*/

.rowBear {
  display: flex;
  justify-content: flex-start;
}

.item {
  //flex: 1 1 30%;
  //padding-left: 1.5rem;
}

/* Vertical flex: items
   ===================
*/

.item {
  display: flex;
  flex-direction: column;
}

.item-heading {
  flex: 1;
}

.item-img {
  flex: 1;
  align-self: center
}

/* Third flex: item heading
   ========================
*/

.item-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 100%;
}

//.row {
//  margin-bottom: 1.5rem;
//}

.item-img {
  padding: 0rem 2rem 1rem 2rem;
  font-size: 1rem;
  //background: #eacadc;
}

.item-heading {
  //padding: 2rem;
  font-size: 1rem;
  //background: yellow;
  text-align: center;
}
