.fa-rotate-45 {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865474, SizingMethod='auto expand');
  margin-left: -50%;
  margin-top: -50%;
}

.titleBear {
  background: #89cbea;
  grid-area: titleBear;
}

.descriptionBear {
  background: #1ceadb;
  grid-area: descriptionBear;
}

.categoryBear {
  background: #56deea;
  grid-area: categoryBear;
}

.labelBear {
  background: #3078ea;
  grid-area: labelBear;
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "titleBear" "descriptionBear" "categoryBear" "labelBear";
}

