.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "hr" "art" "ft";
  grid-template-rows: auto 1fr auto;
}

header {
  background: #343434;
  grid-area: hr;
}

article {
  //background: #eaeaea;
  grid-area: art;
}

footer {
  background: #343434;
  grid-area: ft;
}

@media all and (min-width: 640px) {
  .grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "hr hr hr hr hr hr hr" ". art art art art art ." "ft ft ft ft ft ft ft";
    grid-gap: 2em;
  }
}
