.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "hr hr hr" "art  art art" "ft ft ft";
  grid-gap: 1em;
}

header {
  background: #eaeaea;
  padding: 1em;
  grid-area: hr;
}

aside {
  background: #eaeaea;
  padding: 1em;
  grid-area: asd;
}

article {
  background: #eaeaea;
  padding: 1em;
  grid-area: art;
}

footer {
  background: #eaeaea;
  padding: 1em;
  grid-area: ft;
}

@media all and (min-width: 640px) {
  .grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "hr hr hr hr hr" ".  art art art ." "ft ft ft ft ft";
    grid-gap: 1em;
  }
}

/* Demo Specific Styles */
//body {
//  margin: 0 auto;
//  max-width: 756em;
//  padding: 1em 0;
//  height: 100%;
//}

//.grid > * {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

