<div [@routerTransition]>
  <div class="overflow-hidden content-margin container">
    <div class="row justify-content-center">
      <div class="col-lg-12">

        <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">

          <dynamic-ng-bootstrap-form [group]="formGroup" [model]="formModel" [layout]="formLayout">

            <ng-template modelId="addNewTag">

              <button class="btn btn-warning" type="button" (click)="addNewTag()">
                Add New Tag
              </button>

            </ng-template>

            <ng-template modelId="tagsFormArray" let-group let-index="index" let-context="context">

              <button class="btn btn-danger" type="button" (click)="removeItemLabels(context, index)">Remove Tag
              </button>
              <button class="btn btn-success" type="button" (click)="insertItemLabels(group.context, group.index + 1)">
                Add Tag
              </button>

            </ng-template>

            <ng-template modelId="addNewIngredient">

              <button class="btn btn-warning" type="button" (click)="addNewIngredient()">
                Add New Ingredient
              </button>

            </ng-template>

            <ng-template modelId="ingredientsFormArray" let-group let-index="index" let-context="context">

              <button class="btn btn-danger" type="button" (click)="removeItemIngredients(context, index)">Remove
                Ingredient
              </button>
              <button class="btn btn-success" type="button"
                      (click)="insertItemIngredients(group.context, group.index + 1)">Add Ingredient
              </button>

            </ng-template>

            <ng-template modelId="directionsFormArray" let-group let-index="index" let-context="context">

              <div class="form-group">
                <input type="file" (change)="uploadDirectionPhoto($event, group.context, index)"/>
              </div>

              <button class="btn btn-danger" type="button" (click)="removeItemDirections(context, index)">Remove
                Direction
              </button>
              <button class="btn btn-success" type="button"
                      (click)="insertItemDirections(group.context, group.index + 1)">Add Direction
              </button>

            </ng-template>

          </dynamic-ng-bootstrap-form>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input type="file" (change)="uploadFile($event)"/>
                <div>{{ uploadPercent | async }}</div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
