<div [@routerTransition]>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

          <dynamic-ng-bootstrap-form [group]="formGroup" [model]="formModel">

            <ng-template modelId="labelsFormArray" let-group let-index="index" let-context="context">

              <button class="btn" type="button" (click)="removeItemLabels(context, index)">Remove Item</button>
              <button class="btn" type="button" (click)="insertItemLabels(group.context, group.index + 1)">Add Item</button>

            </ng-template>

            <ng-template modelId="ingredientsFormArray" let-group let-index="index" let-context="context">

              <button class="btn" type="button" (click)="removeItemIngredients(context, index)">Remove Item</button>
              <button class="btn" type="button" (click)="insertItemIngredients(group.context, group.index + 1)">Add Item</button>

            </ng-template>

            <ng-template modelId="directionsFormArray" let-group let-index="index" let-context="context">

              <button class="btn" type="button" (click)="removeItemDirections(context, index)">Remove Item</button>
              <button class="btn" type="button" (click)="insertItemDirections(group.context, group.index + 1)">Add Item</button>

            </ng-template>

          </dynamic-ng-bootstrap-form>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>
