.navBear {
  //background: #eacadc;
  grid-area: navBear;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: ". navBear navBear navBear navBear navBear .";
}

.sos {
  color: #f1cf63;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  line-height: 3em;
  padding-left: 0.5em;
}

.sos-r1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.1em;
}

.sos-prep {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.5em;
  vertical-align: middle;
  margin-top: -0.4em;
  display: inline-block;
}

.flexBear {
  display: flex;
  align-items: center;
  justify-content: center;
}

