<header>
  <div class="grid">
    <div class="navBear">
      <nav class="navbar navbar-light navbar-expand-md justify-content-center">
        <a [routerLink]="['/']" class="navbar-brand"><img src="./assets/icons/017-bear-1.svg" height="75"
                                                          alt="Bear In The Kitchen">Bear In The Kitchen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar2"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapsingNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-between w-100" id="collapsingNavbar2"
             [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mx-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Link<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/']">Link</a>
            </li>
          </ul>
          <ul class="nav navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/profile']">Profile</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/recipe/new']">New Recipe</a></li>
            <li class="nav-item"><a class="btn btn-info" (click)="signOut()">Log out</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
