<header>
    <nav class="grid">
      <div class="logoBear">
        <a [routerLink]="['/']"><img src="./assets/icons/017-bear-1.svg" height="75" alt="Bear In The Kitchen"></a>
        Bear In The Kitchen
      </div>

      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse-2"-->
              <!--aria-controls="navbarNav7" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
      <!--</button>-->

      <div class="menuBear">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Contact</a>
          </li>
        </ul>
      </div>

      <div class="miscBear">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/recipe/new']">New&nbsp;Recipe</a>
          </li>
        </ul>
        <a class="btn ml-md-3" (click)="signOut()">Log out</a>
      </div>
    </nav>
</header>
