<footer class="footer grid">
  <div class="authors">Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by Luci &amp; Rob
  </div>
  <div class="licence1">&copy; 2018 Bear In The Kitchen. All Rights Reserved</div>
  <div class="licence2">Icons designed by Roundicons, Freepik
    from Flaticon
  </div>


  <!--<div class="container">-->
  <!--<div class="row align-items-center">-->
  <!--<div class="col-12 col-md-8">-->
  <!--<div class="navbar-text m-auto">-->
  <!--Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>️ by Luci &amp; Rob-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="col-12 col-md-4">-->
  <!--&copy; 2018 Bear In The Kitchen. All Rights Reserved-->
  <!--</div>-->

  <!--</div>-->
  <!--<div class="row align-items-center">-->
  <!--<div class="col-12">-->
  <!--<div class="navbar-text m-auto">Icons designed by Roundicons, Freepik-->
  <!--from Flaticon-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</footer>
